* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

header {
    background-color: black;
    height: 400px;
    color: white;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 0;
}

a {
    /* display: inline-block; */
    background-color: chartreuse;
    float: left;
    padding: 5px 0px 5px 0;
    width: 25%;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    border: 1px solid black;
}


p {
    line-height: 200%;
    font-size: 20px;
}